body {
	margin: 0;
	height: 100vh;
	width: 100vw;
}

* {
	box-sizing: border-box;
}

#root {
	height: inherit;
	width: inherit;
}

.page-container {
	height: inherit;
	width: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: radial-gradient(#191919, #191919, #000000);
}

.page-title {
	font-family: 'Playfair Display', serif;
	font-size: 10rem;
	color: #ffffff;
}

.page-subtitle {
	font-family: 'Abel';
	font-size: 4rem;
	color: #d3f707;
}

.page-content {
	font-family: 'Noto Serif', serif;
	font-size: 2rem;
	color: #b3afaf;
}

.page-container.escape-room {
	display: grid;
	grid-template-rows: 2fr 1fr 5fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'title title' 'subtitle subtitle' 'video leaderboard ';
	grid-gap: 20px;
	justify-items: center;
	padding: 20px;
}

.page-title.escape-room {
	grid-area: title;
}

.page-subtitle.escape-room {
	grid-area: subtitle;
}

.page-content.escape-room,
.escape-grid-item {
	height: 100%;
	width: 100%;
	background-color: #d3f707;
}

.page-container.escape-grid {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	justify-items: center;
	grid-gap: 20px;
	padding: 20px;
}

.page-title.escape-grid {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-size: 6rem;
	background: linear-gradient(rgba(54, 54, 54, 0.4), rgba(54, 54, 54, 0.7), rgba(0, 0, 0, 0.8));
}

.page-container.social-feed {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	justify-items: center;
	padding: 20px;
}

.page-content.social-feed-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background: rgba(109, 109, 109, 0.8);
}
